

.container3 {
  position: relative;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rpx;
  box-sizing: border-box;
  margin-top:40rpx;
}

.slot{
  position: absolute;
  font-size: 44rpx;
  font-family: 'Fangzhengke';
  font-weight: bolder;
  color:#002e73;
  z-index:10;

}
