

page{
  /* background: url('http://img.pangweihang.cn/modao/geren.png'); */
  /* background-position: bottom; */
  background-repeat: no-repeat;
  background-size: 100%;
}

.background{
  width:750rpx;
  height: 100%;
  position: absolute;
  top:0rpx;
}

.texts{
  margin:20rpx 40rpx 40rpx 100rpx;
  position: relative;
  z-index: 1000;
  font-size: 28rpx;
  color:#002e73;
}

.title{

  height: 64rpx;
width: 429rpx;

  margin-left:40rpx;
  position: relative;
  z-index: 1000;
  padding: 0;

}
