

.zhujian{
  width:597rpx;
  height: 172rpx;
}

.word{
  font-size: 36rpx;
  font-family: "Fangzhengke";
  position: absolute;
  left: 80rpx;
  color: #6a3906;

  z-index: 1000;

}
.all{
  position: relative;
  margin-top: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
